body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/vectors/currency-exchange-dollar-sign-and-circle-arrow-fast-loan-financial-vector-id1190840209?k=20&m=1190840209&s=612x612&w=0&h=TUq_XBajwtIDMy698CLPunhoXhYUzxhma8Xp1m9G8Vw=");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.currency-box {
  width: 300px;
  background-color: white;
}

/* Style The Dropdown Button */
.dropbtn {
    border: 1px solid #dcdcde;
    border-width: 1px 1px 0;
    background-color: #fcfcfc;
    cursor: pointer;
    width: 100%;
    /* 부모 .exchange-box의 넓이를 100% 활용하기 위하여 100%를 적어준것 */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    /* 부모 .exchange-box의 넓이를 100% 활용하기 위하여 100%를 적어준것 */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none; 
    /* 나는 너희를 숨기겠다 !!  */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    /* 부모 .exchange-box의 넓이를 100% 활용하기 위하여 100%를 적어준것 */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {
    background-color: #95afcb;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    /* 18줄에서 display: none해서 숨겨두었던것을 hover하여 block(보여주겟다)하겠다! 라는 의미 */
  }
  .amount-box {
    width: 100%;
    border: none;
    text-align: right;
  }
  .amount-box:focus {
    outline: none;
  }
  .same-icon {
    font-size: 2rem;
    color: #000;
    font-weight: 900;
    text-align: center;
  }
  
  .korean-num {
    height: 50px;
    text-align: right;
  }
  
  .input-box {
    border: 1px solid #dcdcde;
  }
  
  .flag-img {
    width: 18px;
    height: 12px;
  }